<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>You've been nominated</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron-narrow.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  <div class="container">
    <div class="row"> 
      <div class="masthead">
      <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="">
                  <img src="img/masthead.jpg" class="img-responsive" alt="" >
              </li>
      </div>        
    </div>
  </div>



    <div class="container">
      
      <div class="well">
        <h1>You've been nominated!</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>

        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      


  

        <h5>Nominated by:</h5>

      <label class="radio-inline">
          <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">ACDelco Employee
        </label>
        <label class="radio-inline">
          <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">Shop Owner
        </label>
      <br>
&nbsp;
   <div class="form-group">
          <label for="exampleInputEmail1">Title</label><br>
          {{ }}
        <div class="form-group">
          <label for="exampleInputPassword1">Region</label><br>
          {{ }}
        </div>   

          <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Market</label><br>
          {{ }}
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">District</label><br>
          {{ }}

      </div>

    <form>
        <div class="form-group">
          <label for="exampleInputEmail1">First name</label><br>
          {{ }}
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Last name</label><br>
          {{ }}
        </div>   

          <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label><br>
          {{ }}
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Phone number</label><br>
          {{ }}
        </div> 
      
    



        <h5>Tell us about the shop:</h1>
    <div class="checkbox">
        <label>
          <input type="checkbox" value="">
          PSC Premium Level Shop
        </label><br>
        <label>
          <input type="checkbox" value="">
          ACDelco Outdoor Identification
        </label><br>
        <label>
          <input type="checkbox" value="">
          ASE Certified Technician(s)
        </label><br>
        <label>
          <input type="checkbox" value="">
          Uses 27 Point Vehicle Inspection Form
        </label><br>
        <label>
          <input type="checkbox" value="">
          Participates in ACDelco Training Courses
        </label><br>
        <label>
          <input type="checkbox" value="">
          Is on the ACDelco Locator
        </label><br>
        <label>
          <input type="checkbox" value="">
          Shop Picture in SAD
        </label><br>
        <label>
          <input type="checkbox" value="">
          Stocks Batteries
        </label><br>
        &nbsp;
        <h5>Why are you nominating this shop?</h5><br>
        {{ }} <br>
        &nbsp;
</div>
<div class="container">
  <div class="row text-center">
  <h5>Images</h5>
    <img src="img/test.jpg">
    <img src="img/test.jpg">
    <img src="img/test.jpg">
  </div>
</div>
      &nbsp; 
<div class="row">
  <h3>Please accept or reject this nomination</h3>
  <p>This nomination is not valid without your approval. Should you choose to reject it, please state your reasoning.</p>
</div>
<h5>I would like to:</h5>

      <label class="radio-inline">
          <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">Accept this nomination
        </label>
        <label class="radio-inline">
          <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">Reject this nomination
        </label>
      <br>
&nbsp;
    </div>
    <h5>Please explain below:</h5><br>
        <textarea class="form-control" rows="3"></textarea><br>
        &nbsp;

<div class="row">
          <div class="col-xs-4 col-xs-offset-4 text-center"><a class="btn btn-lg btn-success" href="final_confirm.html" role="button">Submit</a></div>
        </div>
</div> <!-- /container -->

</div>


<div class="row">
  <div class="footer">
    &nbsp;
  </div>
</div>




    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
